@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Segoe-UI.ttf") format("opentype");
}

$font-family-roboto: "Roboto", sans-serif;
$font-family: "Segoe UI", sans-serif;
$logo-color: #1875f0;
$hello-color: #647787;
$white: #fff;

body {
  font-family: $font-family;
  background-color: #f7f8fa;
}
a.navbar-brand {
  font-family: $font-family-roboto;
  font-weight: bolder;
  color: $logo-color !important;
  font-size: 24px;
  margin-right: 180px;
}
.navbar {
  padding: 0.5rem 3rem;
  background-color: $white;
  z-index: 5;
}
.navbar-text {
  text-align: right;
  margin-bottom: 15px;
  padding-right: 2em;
}
.hello {
  font-size: 10px;
  display: block;
  color: $hello-color;
}
.nav-link {
  color: #647787 !important;
  padding-right: 2em !important;
}
.navbar {
  box-shadow: 0 4px 10px rgba(79, 79, 79, 0.1);
}
.icon {
  padding-bottom: 15px;
}
a.notif {
  position: relative;
  display: block;
  height: 18px;
  width: 18px;
  background: url("../images/bell-53.png");
  background-size: contain;
  text-decoration: none;
  padding-left: 0.5rem;
  margin-right: 2em;
  margin-top: 13px;
}
.num {
  position: absolute;
  right: -3px;
  top: -6px;
  color: $white;
  background-color: $logo-color;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
}
.search-no-border, .search-bottom-border {
  border: 0;
  width: 400px !important;
}
.search-bottom-border {
  border-bottom: 2px solid #787878;
  background-color: transparent;
  border-radius: 0;
  &:focus {
    background-color: transparent;
  }
}

input:focus,
input:active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
.search-icon {
  display: inline;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 130px 0 0;
  background-color: $white;
  font-size: 13px;
  color: #647787;
  .nav {
    margin-top: 30px;
  }
  .nav-item {
    width: 100%;
    display: block;
    padding: 10px 0 10px 48px;
  }
  .nav-link {
    padding: 0;
    display: inline;
    margin-left: 15px;
  }
  .active {
    background-color: rgba(24, 117, 240, 0.1);
    border-left: 5px solid #1875f0;
  }
  h6 {
    margin: 20px 0 0;
    padding: 0;
    font-size: 13px;
  }
}
.g-invoice {
  color: $white;
  background-color: #27ae60 !important;
  font-family: $font-family-roboto;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 25px;
  margin-left: 44px;
  border-radius: 30px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  &:hover {
    color: $white;
    background-color: #57ae60;
  }
}
.dashboard-main {
  padding: 40px 45px;
}
.dashboard-chart-section {
  padding: 0 33px;
  font-size: 12px;
  .date {
    color: #4f4f4f;
    font-size: 22px;
    font-weight: 700;
  }
  img {
    padding-right: 5px;
  }

}
.payments-section {
  padding: 0 33px;
  font-size: 15px;
  table {
    background-color: $white;
    font-size: 15px;
    color: #7F8FA4;
    th {
      padding: 30px;
    }
  }
  .item-name {
    color: #414042;
  }
  .circle {
    width: 50px;
    height: 50%;
    border-radius: 50%;
    background-color:#7F8FA4;
    color: $white;
    padding: 10px;
  }
}
.border-red {
  border: 1px solid #f00;
}
.summary-item-tab {
  background-color: $white;
  padding: 15px;
}
.transaction-title {
  font-size: 14px;
  color: #787c90;
}
.transaction-value {
  font-size: 20px;
  color: #262626;
}
.dashboard-orders, .dashboard-chart {
  background-color: $white;
  padding: 30px;
  font-size: 15px;
  line-height: 2em;
  h6 {
    margin: 0;
    padding: 0;
    font-weight: bolder;
    color: #262626;
  }
}
progress {
  background-color: #FDC203;
  border: 0;
  height: 7px;
  width: 90%;
}
progress::-webkit-progress-bar {
  background-color: #27AE60;
  border: 0;
  height: 7px;
  width: 90%;
}
progress::-webkit-progress-value {
  background-color: #27AE60;
  border: 0;
  height: 7px;
  width: 90%;
}
progress::-moz-progress-bar {
  background-color: #27AE60;
  border: 0;
  height: 7px;
  width: 90%;
}
.yellow, .pending {
  color: #FDC203;
}
.green, .reconciled {
  color: #27AE60;
}
.blue {
  color: #1860EC;
}
.yellow, .green, .blue {
  font-weight: bold;
}
.un-reconciled {
  color: #7F8FA4;
}
.status-border {
  border: 1px solid #CCCFD4;
  border-radius: 30px;
  padding: 6px 20px;
  width: 80%;
}